.gradient-background {
  background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.profile-img {
  height: 100px;
  border-radius: 50%;
}

.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

.feature-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  color: #fff;
  border-radius: 0.75rem;
}

/* New Code */

/* Footer */
.footer {
  background: linear-gradient(45deg, #0043a4, #00a4e4);
  color: #fff;
  padding: 50px 0;
}

.footer .nav-link {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  padding: 0 10px;
  transition: color 0.3s;
}

.footer .nav-link:hover {
  color: #f0a500;
}

.footer p {
  margin-top: 15px;
  font-size: 14px;
  color: #b3b3b3;
}

/* Social Media Icons */
.social-icon {
  font-size: 24px;
  color: #fff;
  transition: transform 0.3s ease, color 0.3s ease;
}

.social-icon:hover {
  transform: scale(1.2);
  color: #f0a500;
}
